<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.societypay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/societypayapplogo2_round"
        android:label="Society PaY"
        android:roundIcon="@drawable/ic_applogo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecieptFP"></activity>
        <activity
            android:name=".ui.login.ServiceUser"
            android:label="@string/title_activity_service_user" />
        <activity android:name=".TesrActivity" />
        <activity android:name=".Reciept" />
        <activity android:name=".Transaction" />
        <activity
            android:name=".Dashboard1"
            android:label="@string/title_activity_dashboard1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Dashboard" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_H2D6bIecZNR90b" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>